.container {
    display: flex;
    height: 100%;
    overflow: hidden;
}

.sidebar {
    min-width: 160px;
    background-color: var(--mantine-color-dark-6);
    overflow: auto;
    display: flex;
    height: 100%;
}

.resizer {
    width: 4px;
    cursor: ew-resize;
    background-color: var(--mantine-color-dark-5);
    transition: background-color 0.2s;
}

.resizer:hover {
    background-color: var(--mantine-color-blue-9);
}