CompileFlags:
  CompilationDatabase: packages/build/Release/cmake
  Add:
      - -Wall
      - -std=c++2c
      - -Wall
      - -Wextra
      - -Wpedantic
      - -Wno-c++98-compat
      - -Wno-c++98-compat-pedantic
      - -Wno-ctad-maybe-unsupported
      - -Werror
      - -Wno-global-constructors
      - -Wno-exit-time-destructors
      - -Wno-padded
      - -std=c++26

Diagnostics:
  ClangTidy:
    Add:
      - bugprone-*
      - bugprone-*
      - performance-*
      - modernize-*
      - readability-*
    Remove:
      - modernize-use-trailing-return-type
      - readability-identifier-length
      - readability-named-parameter
      - bugprone-easily-swappable-parameters
      - readability-magic-numbers

  UnusedIncludes: Strict
  MissingIncludes: Strict

InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
  Designators: true

Hover:
  ShowAKA: true

Completion:
  AllScopes: true
