/crates/authenticator/target/

.cache/

.idea/

crates/nova_api/target/

crates/nova_auth/target/

crates/nova_compression/target/

crates/nova_crypto/target/

crates/nova_di/target/

crates/nova_fs/target/

crates/nova_project/target/

crates/nova_rate_limit/target/

nova/target/

nova/src/.cargo/

nova/src/dicom/cxx/build/
