.header {
    background-color: var(--mantine-color-dark-6);
    border-bottom: 1px solid var(--mantine-color-dark-4);
    display: flex;
    flex-direction: column;
}

.logoRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--mantine-spacing-sm) var(--mantine-spacing-lg);
}

.tabsIndent {
    padding-left: calc(var(--mantine-spacing-lg) + 250px);
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
}

.left {
    display: flex;
    align-items: center;
    gap: var(--mantine-spacing-md);
}

.mainSection {
    padding-top: var(--mantine-spacing-sm);
}