.wrapper {
    height: 100dvh;
    background-image: url("../../assets/nova_background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: stretch;
}

.form {
    width: 420px;
    max-width: 100%;
    height: 100%;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(15, 15, 25, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-right: 1px solid rgba(255, 255, 255, 0.08);

    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}

.title {
    color: var(--mantine-color-white);
    font-family: Outfit, var(--mantine-font-family), serif;
    font-weight: 500;
    text-align: center;
    margin-bottom: 40px;
}

.wrapper::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, transparent 50%);
    z-index: 0;
}
.wrapper > * {
    position: relative;
    z-index: 1;
}
